/*Keszitette: Safran Abel Domonkos; email: safranabel@gmail.com; neptun: a8uov5*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

p, body, ul, ul li{
	font-family: 'Tinos', serif;
}

ul, ul li{
	font-size: 13pt;
}

body {
	z-index: 0;
}
h1, h2, h3, h4, h5, h6,#nav div div a, #nav a, #nav{
	font-family: 'Abel', sans-serif;
}
body section:nth-child(odd){
	color:white;
}
body section:nth-child(even){
	color:black;
}
body section:nth-child(odd) article ul{
	color: white;
}
body section:nth-child(even) article ul{
	color: black;
}
h3{
	color:black;
}
p a:link {
  color: #232323;
  text-decoration: underline;
}
p a:visited {
  color: #3e2150;
  text-decoration: underline;
}
p a:hover {
  color: #063c00;
  text-decoration: underline;
}
p a:active{
	color:#670000;
	text-decoration: underline;
}
#background-canvas {
	z-index: -100;
	position: fixed;
	top: 0;
	left: 0;
}
#Studies, #Works{
	background-color: #F99B2A;
}
#Skills{
	background-color: black;
}
section:nth-child(even) article h2{
	background-color:#333;
	color:white;
}
section:nth-child(odd) article h2{
	background-color:#F99B2A;
	color:black;
}
table{ color: black; }
table tr:nth-child(odd){background-color: #f0f0f0;}
table tr:nth-child(even){background-color: #cfcfcf;}
table tr:hover {background-color: #F99B2A;}
table tr:hover td{
	border-top: #232323 solid 1px;
	border-bottom: #232323 solid 1px;
	border-right: #232323 solid 1px;
}
table tr:hover th{
	border-top: #232323 solid 1px;
	border-bottom: #232323 solid 1px;
	border-left: #232323 solid 1px;
}
table tr th{
	background-color: #494d4e;
  	color: white;
}
table tr td a:visited{
	color:#232323;
	text-decoration: underline;
}
table tr td a:link{
	color:black;
	text-decoration: underline;
}
table tr td a:active{
	color:red;
	text-decoration: underline;
}
table tr td a:hover{
	color: #0049B7;
	text-decoration: underline;
}
#mainTitle{
	background-color:rgb(8, 8, 8);
}
#mainTitle h1{
	color:#e47900;
}
body section:nth-child(odd) h1{
	color:white;
}
body section:nth-child(even) h1{
	color:black;
}
#nav{
	background-color: black;
}
#nav div div a, #nav a{
	color: white;
}
#nav button span{
	color:white;
}
.nav-item:hover{
	background-color: #F99B2A;
}
#nav div div a:hover{
	color: black;
}
footer ul{
	background-color: #cfcfcf;
}
footer ul li a{
	color: white;
}
#cvbutton button{
	color:black;
	background-color:#F99B2A;
	border-color: #ccc;
}
body section:nth-child(odd) div.line{
	border-right-color: black;
}
body section:nth-child(odd) div.line{
	border-right-color: #F99B2A;
}
body section:nth-child(even) div.line div.decoration{
	background-color: black;
	color:#F99B2A;
}
body section:nth-child(odd) div.line div.decoration{
	background-color: #F99B2A;
	color:black;
}

.decoration{
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.decoration p{
	margin: auto;
}
.line{
	position: relative;
	width:95%;
	min-height: 100vh;
	border-right-width: 20px;
	border-right-style: double;
	padding-bottom: 5px;
}

.triangle{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid black;
}

.videoWrapper{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: #f0f0f0 solid 0px;
}

html, body{
	margin:0;
	padding:0;
	min-height: 100%;
	min-height:calc(100vh - 90px);
	font-size:1em;
}
html body{
	position: relative;
	padding-bottom:90px;
}

/*html { 
	background: url("../kepek/hatterek/bg1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
p{
	text-align:justify;
	text-justify: inter-word;
}
h1, h2, h3, h4, h5, h6{
	letter-spacing:2px;
	font-size:200%;
	font-weight:300;
}

iframe.youtube {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*linkek*/

/*sections*/
section{
	width: 90%;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 100px;
	border-radius: 5px;
}
#CoverSite{
	padding-bottom: 0;
	min-height: 1px;
}
section h1{
	margin-top: 0;
}

/*Article-ok*/
article{
	border-radius:3px;
	margin:10px;
	padding:5px;
	background-size:cover;
	background-repeat:no-repeat;
}
article h2{
	text-align:center;
	border-radius:3px;
}
/*tablazatok*/
article table{
	border-collapse: separate; 
	border-spacing:0 2px; 
	max-width: 100vw;
}
tr th:first-child, tr td:first-child { border-top-left-radius: 3px;  border-bottom-left-radius: 3px;}
tr td:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

table tr td, table tr th {
  padding: 8px;
}
table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
/*Ugras a tartalomra*/
nav#JumpToContent{
	position: absolute;
	top:0;
	left:-9999px;
}


/*Kezdo oldal borito*/
#mainCover{
	/*background-image: url("../kepek/hatterek/bg1.jpg");
	background-size: cover;
	background-position: top;
	background-repeat:no-repeat;
	background-attachment: fixed;*/
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: calc( 100vh - 55px);
	width:100%;
	text-align:center;
}
#selfPortrait{
	vertical-align:middle;
	max-height:70%;
}
#selfPortrait img{
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
}
#mainTitle{
	vertical-align:middle;
	padding: 5px;
}
#mainTitle h1{
	font-size:320%;
	margin: auto;
}



/*cimek*/
body h1{
	margin-right:10px;
	margin-left:10px;
}

/*Navigacios sav*/
#nav{
	top: 0;
	z-index:9999999999;
	letter-spacing:2px;
	font-weight:900;
	text-transform: uppercase;
}
#nav div div a, #nav a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#nav{
	position: sticky;
	position: -webkit-sticky;
}

body .navbar{
	padding-top: 0;
	padding-bottom: 0;
}
body nav .navbar-collapse{
	height: 100%;
	border-image-width: 0;
}


/*Footer*/
footer, #footer{
	position:absolute;
	bottom:0;
	width:90%;
	height:90px;
	margin-left: 5%;
}

footer ul, #footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 90px;
}
footer ul li, #footer ul li{
	display: block;
	float: left;
}
footer ul li:last-child, #footer ul li:last-child {
	border-right: 18px;
	float: right;
}
footer ul li a, #footer ul li a{
	display: block;
	padding: 14px 16px;
	text-decoration: none;
}
footer ul li a img, #footer ul li a img{
	width:32px;
	height:32px;
}
#cvbutton{
	padding:15px;
}
#cvbutton button{
	margin:10px;
	border-radius:5px;
	height:50px;
	margin-top: auto;
	margin-bottom: auto;
}
#cvbutton button:hover{
	cursor: pointer;
}

/*elvegzett targyak tablazata*/
#elteSubjects {
  width: 100%;
}
#elteSubjects tr td:nth-child(2){
	text-align: center;
}
article table caption{
	display:table-caption;
	text-align:center;
}
article table caption h3{
	text-align:left;
	margin-bottom:0;
}
article table caption details{
	float:right;
	vertical-align:bottom;
	margin-top:1px;
}
article table caption details summary{
	font-style:italic;
	cursor:pointer;
}




/*keskeny mobilokra: szelsesseg < 380 -> 1 keskenyített oszlop */
/*focim*/
@media only screen and (min-height: 736px) and (max-width: 380px){
	#selfPortrait{
		width:100%;
		max-width: 100%;
	}
	#selfPortrait img{
		width:190px;
		height:auto;
		margin-left: auto;
		margin-right: auto;
	}
	#mainTitle{
		width: 90%;
		padding:10px;
		margin:50px auto 20px auto;
	}
}
@media only screen and (max-height: 736px) and (max-width: 380px){
	#selfPortrait{
		text-align:center;
		height: 50%;
	}
	#selfPortrait img{
		margin-left: 10px;
		width: 190px;
		height: auto;
	}
	#mainTitle{
		width: 90%;
		padding:10px;
		margin:50px auto 20px auto;
	}
}
@media only screen and (max-width: 380px){
	html body{
		min-height:calc(100vh - 120px);
		padding-bottom: 120px;
	}
/*footer*/
	footer, #footer{
		height: 120px;
	}
	footer ul, #footer ul{
		height: 120px;
	}
	footer ul li:last-child, #footer ul li:last-child{
		float: left;
	}
	footer ul li, #footer ul li{
		margin: 0;
	}	
	header ul{
		display: block;
	}
	#cvbutton{
		padding: 0;
		margin-top: 5px;
	}

/*tanulmanyok*/
	#elteSubjects{
		max-width: 100%;
	}
	article table caption details{
		float:left;
	}
/*munkaleiras*/
	.munkaleiras{
		width:100%;
	}
	.munkaleiras td{
		width: 100%;
	}
	footer ul li a, #footer ul li a{
		padding: 5px;
		padding-left: 15px;
	}
}
/*normal mobilokra: 380 < szelesseg < 720px -> 1 oszlop */
/*focim*/
@media only screen and (max-width: 720px) and (min-height: 736px) and (min-width: 380px){
	#selfPortrait{
		width:100%;
		max-width: 100%;
	}
	#selfPortrait img{
		width:300px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	#mainTitle{
		width: 90%;
		padding:10px;
		margin:50px auto 20px auto;
	}
}
@media only screen and (max-width: 720px) and (max-height: 736px) and (min-width: 380px){
	#selfPortrait{
		text-align:center;
		height: 50%;
	}
	#selfPortrait img{
		margin-left: 10px;
	}
	#mainTitle{
		width: 90%;
		padding:10px;
		margin:50px auto 20px auto;
	}
	#CoverSite{
		overflow: hidden;
	}
}
@media only screen and (max-width: 720px) and (min-width: 380px){
/*header*/
	header ul{
		display: flex;
		justify-content: center;
	}
/*tanulmanyok*/
	#elteSubjects{
		max-width: 100%;
	}
	article table caption details{
		float:left;
	}
	#tanulmanyok article{
		display:block;
	}
	#vmgvideo{
		width:90%;
		margin: 0 10% 0 0;
	}
	#vmgVideoAndGraduation div:nth-child(2){
		padding: 5px;
	}
		/*logok*/
	.schoolLogo{
		display:inline-block;
	}
	.schoolLogo a img{
		width:90px;
		margin:5px;
	}
	#kekvolgyLogo{
		margin-top:-20px;
	}
/*munkaleiras*/
	.munkaleiras {
		width: 100%;
		table-layout: fixed;
	}
	.munkaleiras th{
		white-space: nowrap;
		width: 130px;
	}
	footer ul li a, #footer ul li a{
		padding: 5px;
		padding-left: 15px;
	}
}

/*tabletekre: 720px < szelesseg < 1024px -> 2 oszlop */
@media only screen and (min-width: 720px) and (max-width: 1024px){
/*focim*/
	#mainCover{
		display: grid;
		grid-template-areas: 'hole1 picture'
							 'head picture'
							 'hole2 picture';
		justify-items: center;
		align-items: center;
	}
	#selfPortrait{
		grid-area: picture;
		margin-left: 5px;
	}
	#mainTitle{
		grid-area: head;
		margin-right: 5px;
	}
/*form*/
	form fieldset a img{
		float:right;
	}
	form{
		display: grid;
		grid-template-areas: 'title title'
							 'radio txtinputs'
							 'buttons buttons';
		justify-items: center;
		align-items: center;
	}
	form h2{
		grid-area: title;
	}
	form fieldset:nth-child(2){
		grid-area: radio;
		border-style: none;
	}
	form fieldset:nth-child(4){
		grid-area: buttons;
		border-style: none;
	}
	form fieldset:nth-child(3){
		grid-area: txtinputs;
		border-style: none;
	}
	form fieldset:nth-child(3) a img{
		width:70px;
	}

	.munkaleiras {
		width: 100%;
		table-layout: fixed;
	}
	.munkaleiras th{
		white-space: nowrap;
		width: 130px;
	}
}

/*pc-kre/laptopokra: 1024px < szelesseg -> 3 oszlop*/
@media screen and (min-width: 1024px){
/*focim*/
	#mainCover{
		display: grid;
		grid-template-areas: 'name name image';
		justify-items: center;
		align-items: center;
		width:100%;
		margin: 0;
		padding: 0;
	}
	#mainTitle{
		grid-area: name;
		width: 90%;
	}
	#selfPortrait{
		grid-area: image;
		width:300px;
	}
	.line{
		width:85%;
	}
	.munkaleiras {
		width: 100%;
		table-layout: fixed;
	}
	.munkaleiras th{
		white-space: nowrap;
		width: 130px;
	}
}

/*speciális, alacsony képernyő*/
@media only screen and (max-height: 550px){
	#mainCover #selfPortrait img{
		width: auto;
		height: 250px;
	}
}
@media only screen and (max-height: 300px){
	#mainCover #selfPortrait img{
		width: auto;
		height: 100px;
	}
}


/*nyomtatokra*/
@media print{
	a:after{
     content: ' ' attr(href);

     font-style:italic;
     color:blue;
	}
	#selfPortrait:after, form fieldset a:after{
		display: none;

	}
	nav#JumpToContent, div#JumpToContent, nav, #nav, nav ul, #nav ul, nav ul li a, #nav ul li a, footer, #footer, #vmgvideo video, header, .submitAndResetButton{
		display: none;
	}
	figcaption h3:after{
		content: ' videó';
	}
	table, table tr th{ color:black; }
	#szkillek div.article h2, #szkillek div.article ul{
		color: #0f292f;
	}
	figure{
		page-break-after: always;
	}
	#munka article h2{
		color:#0f292f;
	}
	#mekiArticle{
		page-break-before: always;
	}
	#munka article table tr td a{
		color:black;
	}
}



























































































